*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

body {
    background-image: url("../images/background.png");
}

img {
    width: 3%;
}

.top-bar{
    width: 100%;
    height: 100px;
    padding-top: 25px;
    padding-left: 50px;
    background-color: #03001C;
}

main{
    padding-top: 20px;
    padding-left: 55px;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 5rem;
}

/*colors: 03001C, 301E67, 5B8FB9, B6EADA*/
.description {
    display: inline-block;
    width: 50%;
    margin: 20px;

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #03001C;
    font-family: 'Roboto', sans-serif;
}

p {
    display: inline-block;
    font-size: 1.3rem;
    color: whitesmoke;
    letter-spacing: 0.07rem;
    word-spacing: 0.0625rem;
    text-align: justify;
    font-family: 'Archivo', sans-serif;
    line-height: 125%;
}



h5 {
    font-size: 25px;
    margin-bottom: 25px;
    color: #1A0000;
    font-family: 'Archivo', sans-serif;
}

.btn {
    background-color: #301E67;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 1rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#prompt {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#prompt h2 {
    padding: 50px;
}

#prompt button {
    display: block;
    width: 33%;
    margin: 5rem auto;
    border-radius: 0.4rem;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    border-color: #301E67;
    text-align: center;
}

#prompt button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#prompt button:hover span {
    padding-right: 25px;
}

#prompt button:hover span:after {
    opacity: 1;
    right: 0;
}

#prompt button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#prompt button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.options {
    width: 40%;
}

.generated {
    width: 40%;
}

#gen {
    margin-top: 150px;
    margin-bottom: 100px;
}

#gen h2 {
    padding-top: 50px;
}

/* Form container */
form {
    width: 100%;
    padding: 20px;
    display: flex;
    color: white;
}
/* Form labels */
label {
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
}
/* Checkboxes and labels */
#gen input[type="checkbox"] {
    margin: 10px;
}
/* Password length input */
#gen input[type="number"] {
    width: 90px;
    padding: 15px;
    margin: 50px;
    border-radius: 1rem;
}
/* Generate password button */
#gen button {
    padding: 20px 20px;
    background-color: #2B4865;
    color: white;
    border: none;
    opacity: 0.7;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#gen button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

#bestp {
    width: 85%;
    margin: 3rem 0;
}

#bestp h2 {
    padding-top: 50px;
}

.bp {
    margin: 4rem 0;
}

/* Generated password textarea */
textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    resize: none;
    color: white;
    font-size: 90px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar {
    display: none;
}

.bottom-container {
    background-color: #03001C;
    padding: 3.125rem 0 1.25rem;
    text-align: center;
    margin-top: 3rem;
}

.bottom-container a {
    font-size: 1.3rem;
    color: #EAF6F6;
    font-family: "Poppins", sans-serif;
    margin: 0 1rem;
}

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 2rem 0;
}
