*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

body {
    background-image: url("../images/background.png");
}

#logo {
    width: 3%;
}

#im{
    width: 40%;
    margin: 2rem 2rem 4rem 5rem;
}

.top-bar{
    width: 100%;
    height: 100px;
    padding-top: 25px;
    padding-left: 50px;
    background-color: #03001C;
}

main{
    padding-top: 20px;
    padding-left: 55px;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 5rem;
}

.description {
    display: flex;
    margin: 20px;
    align-items: center;
}

.des {
    display: inline-block;
    width: 50%;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #03001C;
    transition: 0.3s;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}

h2:hover {
    font-size: 2.8rem;
    font-style: italic;
    opacity: 1;
    text-decoration: underline;
}

p {
    display: inline-block;
    font-size: 1.3rem;
    color: whitesmoke;
    letter-spacing: 0.07rem;
    word-spacing: 0.0625rem;
    text-align: justify;
    font-family: 'Archivo', sans-serif;
    line-height: 125%;
}



h5 {
    font-size: 25px;
    margin-bottom: 25px;
    color: #1A0000;
    font-family: 'Archivo', sans-serif;
}

.btn {
    background-color: #301E67;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 1rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#prompt {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#prompt h2 {
    padding: 50px;
}

#prompt button {
    display: block;
    width: 33%;
    margin: 5rem auto;
    border-radius: 0.4rem;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    border-color: #301E67;
    text-align: center;
    transition: 0.5s;
}

#prompt button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 36%;
    font-size: 1.3rem;
}

#prompt button:hover span {
    padding-right: 25px;
}

#prompt button:hover span:after {
    opacity: 1;
    right: 0;
}

#prompt button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#prompt button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#eval_div label {
    font-size: 1.2rem;
    color: white;
}

#eval_div input {
    width: 300px;
    padding: 15px;
    margin: 50px;
    border-radius: 0.5rem;
}
/* Generate password button */
#eval_div button {
    padding: 20px 20px;
    background-color: #2B4865;
    color: white;
    border: none;
    opacity: 0.7;
    border-radius: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    display: block;
}

#eval_div button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

#eval h2 {
    padding-top: 50px;
}


#result {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Archivo', sans-serif;
}

#more_res, #extra-tests {
    font-size: 1.3rem;
    margin-bottom: 35px;
    color: white;
    width: 80%;
    font-family: 'Archivo', sans-serif;
}

.options {
    width: 40%;
}

.generated {
    width: 40%;
}

#gen {
    margin-top: 150px;
    margin-bottom: 100px;
}

#gen h2 {
    padding-top: 50px;
}

/* Form container */
form {
    width: 100%;
    padding: 20px;
    display: flex;
    color: white;
}

/* Form labels */
label {
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
}

/* Checkboxes and labels */
#gen input[type="checkbox"] {
    margin: 10px;
}

/* Password length input */
#gen input[type="number"] {
    width: 90px;
    padding: 15px;
    margin: 50px;
    border-radius: 1rem;
}

/* Generate password button */
#gen button {
    padding: 20px 20px;
    background-color: #2B4865;
    color: white;
    border: none;
    opacity: 0.7;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#gen button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

#bestp {
    width: 85%;
    margin: 3rem 0;
}

#bestp h2 {
    padding-top: 50px;
}

.bp {
    margin: 4rem 0;
}

/* Generated password textarea */
textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    resize: none;
    color: white;
    font-size: 90px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar {
    display: none;
}

.bottom-container {
    background-color: #03001C;
    padding: 3.125rem 0 1.25rem;
    text-align: center;
    margin-top: 3rem;
}

.bottom-container a {
    font-size: 1.3rem;
    color: #EAF6F6;
    font-family: "Poppins", sans-serif;
    margin: 0 1rem;
}

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 2rem 0;
}

@media (max-width: 440px) {
    h1 {
        font-size: 2rem;
    }

    .top-bar {
        padding-top: 1.2rem;
        padding-left: 1rem;
        height: 5rem;
    }

    #logo {
        width: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-left: 1.3rem;
        margin-bottom: 0;
    }

    main {
        padding: 0;
    }

    #im {
        display: none;
    }

    .des {
        width: 90%;
    }

    .description {
        margin: 0;
    }

    .btn {
        margin: 1.5rem 0 1rem 1.8rem;
    }

    p {
        text-align: left;
        font-size: 1rem;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    h5 {
        font-size: 1.2rem;
        margin-left: 1.7rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2:hover {
        font-size: 1.7rem;
    }

    #prompt button {
        width: 60%;
        font-size: 0.9rem;
        margin: 3rem auto;
    }

    #prompt button:hover {
        width: 70%;
        font-size: 1rem;
    }

    #gen {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .options {
        width: 80%;
        margin-left: 1rem;
    }

    label {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    form {
        display: block;
    }

    /* Checkboxes and labels */
    #gen input[type="checkbox"] {
        margin: 0.5rem;
    }

    label[for="length"]{
        margin-top: 2rem;
    }

    /* Password length input */
    #gen input[type="number"] {
        width: 90px;
        margin: 10px;
        border-radius: 4rem;
    }

    #gen button {
        padding: 1.1rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .generated {
        width: 80%;
    }

    textarea {
        height: 150px;
        font-size: 2.2rem;
        margin-left: 1rem;
    }

    .bottom-container a {
        font-size: 1rem;
    }

    #gen_length {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .copyright {
        font-size: 0.8rem;
    }

    #eval_div {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    #eval_div label {
        font-size: 1rem;
    }

    #eval_div input {
        width: 15rem;
        padding: 1rem;
        margin: 2rem;
        border-radius: 0.5rem;
    }

    /* Generate password button */
    #eval_div button {
        padding: 1.1rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    #result {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    #more_res, #extra-tests {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        width: 90%;
    }

    .bp {
        margin: 2rem 0;
    }
}